/*цвет основного текста  #2E2F42
вторичный цвет текста #434455
фон #fff 
фон первой секции и футера #2E2F42
цвет логотипа хедер #4D5AE5 web #2E2F42 studio
цвет акцент #fff
цвет лого футер #4D5AE5 #F4F4FD
цвет текста футер #E7E9FC
цвет контактов #434455

*/
:root {
  --main-title-color: #2e2f42;
  --second-title-color: #434455;
  --main-btn-color: #fff;
  --hover-btn-color: #404bbf;
  --typical-lh: 1.5;
  --accent-color: #4d5ae5;
}

body {
  background-color: #fff;
  color: var(--second-title-color);
  font-family: "Roboto", sans-serif;
}

.list {
  list-style: none;
}

.item-title {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--main-title-color);
}

.item-after-title {
  font-weight: 500;
  font-size: 16px;
  line-height: var(--typical-lh);
  letter-spacing: 0.02em;
}

.hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.title {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: var(--main-title-color);
}

/*--------header--------*/

.header-logo {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  color: #2e2f42;
}
.header-logo > span {
  color: var(--accent-color);
}

.header-item a {
  font-weight: 500;
  font-size: 16px;
  line-height: var(--typical-lh);
  letter-spacing: 0.02em;
  color: var(--main-title-color);
}

.header-item-link {
  font-weight: 500;
  font-size: 16px;
  line-height: var(--typical-lh);
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-decoration: none;
}

.header-auth-link {
  font-style: normal;
  text-decoration: none;
  color: #434455;
}
.header-auth-link:hover,
.header-auth-link:focus {
  color: var(--accent-color);
}

.header-item-link:hover,
.header-item-link:focus {
  color: var(--accent-color);
}
/*--------main page--------*/
.main-paige {
  background-color: #2e2f42;
}
.main-paige-title {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  letter-spacing: 0.02em;
  color: #ffffff;
}

.studio-btn {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  display: flex;
  align-items: center;
  letter-spacing: 0.04em;
  color: var(--main-btn-color);
  background-color: var(--accent-color);
}

.studio-btn:hover,
.studio-btn:focus {
  background-color: var(--hover-btn-color);
}

/*-------footer--------*/
.footer {
  background-color: #2e2f42;
}
.footer-logo {
  font-family: "Raleway";
  font-weight: 800;
  font-size: 18px;
  line-height: 1.33;
  display: flex;
  align-items: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-decoration: none;
  color: #f4f4fd;
}

.footer-logo > span {
  color: var(--accent-color);
}

.footer-text {
  color: #e7e9fc;
}

/*--------portfolio--------*/

.portfolio-btn {
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: var(--typical-lh);
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.04em;
  color: var(--accent-color);
  background-color: #e7e9fc;
}
.portfolio-btn:hover,
.portfolio-btn:focus {
  background-color: var(--hover-btn-color);
  color: var(--main-btn-color);
}
